<%- include("../partials/header", {pageStyle: "posts"}) %>

<div class="container">
    <h1>Posts</h1>
    
    <!--posts-->
    <div class="posts-container"> 
        <% thread.posts.forEach(function(p) { %>
            <div class="container">
                <div class="row post">
                    <div class="col-sm-2 post-user">
                        <h4><%= p.author.username %></h4>
                    </div>
                    <div class="col-sm-10 post-content">
                        <p><%= p.text %></p>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
    <a role="button" class="btn btn-success" href="/threads/<%= thread._id %>/posts/new" >Reply</a>
    <form id="delete-form" method="POST" action="/threads/<%=thread._id %>?_method=DELETE">
        <button class="btn btn-danger">Delete</button>
    </form>
</div>

<% include ../partials/footer %>